*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scrollbar-gutter: stable;
    overflow-y: scroll;
}

body {
    margin: 0;
    background: #05050a;
    color: #e2e2e2;
}

#root {
    display: flex;
    flex-direction: column;
}
